#title{
    padding-top: 5px;
    padding-bottom: 0px;
}

#dog-img{
    margin-top: 5px;
    margin-bottom: 2px;
    border-radius: 50%;
    height:100px;
}

#footer{
    margin-bottom: 0px;
    
    
}

